/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  
  /* ---- typography ---- */
  
  body {
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 147%;
    background-color: white;
    background-image: url('images/pixel-background.png');
    background-repeat: no-repeat;
    background-size: cover;
   
  }

  
  /* h1 {}
  
  h2 {}
  
  h3 {} */
  
  p {
    margin: 0;
  }
  
  main {
    width: 100vh;
    height: 100vh;
  }

  canvas {
    border: 10px solid black;
    /*background-image: url('images/20451.png');
    background-position: bottom left;*/
    background-color: rgb(22, 132, 223);
    cursor: url('images/mirilla.cur') 60 60, auto;
    margin-left: 30%;
  }

  .shadow{
    animation-duration: 300ms;
    animation-name: shadow-effect;
    animation-iteration-count: 1;
  }

  @keyframes shadow-effect {
    from {
      border: 10px solid white;
      -webkit-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
      -moz-box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
      box-shadow: 0px 0px 0px 0px rgba(255,255,255,1);
    }
  
    to {
      border: 10px solid black;
      -webkit-box-shadow: 0px 0px 20px 30px rgba(255,255,255,0);
      -moz-box-shadow: 0px 0px 20px 30px rgba(255,255,255,0);
      box-shadow: 0px 0px 20px 30px rgba(255,255,255,0);
    }
  }


  
  
  /* ---- layout ---- */
  
  #site-header {
    padding: 30px 0;
    color: white;
    background: #111;
  }
  
  #site-footer {
    color: white;
    padding: 60px 0;
    background: #111;
  }
  
  #site-main {
    margin-bottom: 60px;
  }
  

  .container {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-content: flex-end;
    color: white;
  }
  
  .section {
    margin-bottom: 20px;
    padding-top: 20px;
  }
  
  .StartSection {
    margin-left: 30%;
    background-color: black;
    width: 1000px;
    margin-left: 40%;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-top: 20%;
    display: block;
  }
  .StartElement {
    
  }

  .gameSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30%;
  }

  .topGame {
    border: 1px solid black;
    width: 1200px;
    color: white;
  }

  .bottomGame {
    color: white;
  }

  .GameOverContent {
    display: flex;
    height: 400px;
  }
  .GameOverContent button {
    width: 100px;
    height: 40px;
    margin: auto;
    background-color: lightblue;
    color: black;
  }

  /* .GameOverContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
  .GameOverContent button {
    width: 100px;
  } */

  @media (min-width: 768px) {
    .container {
      max-width: 728px;
      margin: 0 auto;
    }
  }

  
  
  
  
  /* ---- components ---- */
  
  .button {
    width: 100%;
    background-color: lightblue;
    color: black;
    border: 1px solid #fff;
    width: 300px;
    border-radius: 50px;
    height: 50px;
    font-size: 20px;

  }
  
  .button-alt {
    color: blue;
    background-color: #fff;
  }
  
  /* ---- section ---- */
  /*
  section.testimonials {
    //...
  }*/
  
  section.testimonials .button {
    margin-bottom: 10px;
  }